.form-container {
  padding: 25px;
  background-color: #567ce6;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0. 1);
  margin-top: 1px;
  border: 1px solid #e0e0e0;
}

h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #0d0d0d;
  margin-bottom: 20px;
}

div {
  margin-bottom: 15px;
}

label {
  font-weight: 600;
  color: #090c10;
  margin-bottom: 5px;
  display: block;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.2s;
}

input:focus {
  outline: none;
  border-color: #3db569;
}

button {
  padding: 12px 25px;
  margin-right: 10px;
  border: none;
  border-radius: 25px; /* Botões arredondados */
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
}

button[type="button"] {
  background-color: #e9ecef;
  color: #333;
}

button:hover {
  opacity: 0.9;
}